$accent: #3c66ff;
$accent_2: #355ce6;


.map-builder-component {
	display: flex;
	width: 100%;
	height: 100%;

	.button {
		width: 100%;
		height: 40px;
		display: flex;
		background-color: $accent;
		color: white;
		border-radius: 7px;
		justify-content: center;
		gap: 10px;
		align-items: center;
		user-select: none;
		transition: background-color .2s;
		font-size: 20px;

		&:hover {
			cursor: pointer;
			background-color: $accent_2;
		}
	}

	.buttonlist {
		padding: 30px;
		display: flex;
		gap: 15px;
		flex-direction: column;
	}

	.side {
		display: flex;
		height: 100%;

		.navigation-component {
			display: flex;
			height: 100%;

			.optionstrip {
				background-color: #2c2c2c;
				width: 70px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.option-group {

					.nav-option {
						color: rgba(255, 255, 255, 0.4);
						height: 70px;
						display: flex;
						justify-content: center;
						align-items: center;
						border: 3px solid transparent;
						user-select: none;
						font-size: 25px;

						&.active {
							color: white;
							border-left-color: white;
						}

						&:hover {
							color: white;
							cursor: pointer;
						}

					}

				}
			}

			.content {
				background-color: #f3f3f3;
				width: 300px;
				height: 100%;
			}
		}

	}

	.center {
		display: flex;
		flex: 1;
		height: 100%;
		overflow: auto;

		> * {
			margin: auto;
			padding: 100px;
		}

		.tilegrid {
			display: inline-flex;
			flex-direction: column;
			border: 1px solid black;

			.row {
				display: inline-flex;
				flex-grow: 0;

				.cell {
					background-color: aqua;
					border: 1px solid black;

					img {
						width: 100%;
						height: 100%;
						display: block;
						image-rendering: pixelated;
					}
				}
			}
		}
	}

	.tile-browser-component {

		.tilelist {
			color: black;
			.tileline {
				width: 100%;
				height: 30px;
				display: flex;
				align-items: center;

				justify-content: space-between;

				&.active {
					background-color: rgba(127,127,127,.5);

					&:hover {
						background-color: rgba(127,127,127,.5);
					}
				}

				&:hover {
					cursor: pointer;
					background-color: rgba(127,127,127,.25);
				}

				.text {
					padding: 0 20px;
				}

				.right {
					height: 80%;
					img {
						object-fit: cover;
						height: 100%;
						width: 100%;
					}
				}

			}
		}
	}

	.tab-explorer {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;

		.tablist {
			height: 40px;
			width: 100%;
			display: flex;
			flex-shrink: 0;
		}

		.tab-label {
			height: 100%;
			display: flex;
			align-items: center;
			padding: 0 10px;
			gap: 10px;
			border-color: transparent;
			border-width: 3px 0;
			border-style: solid;

			&.active {
				border-bottom-color: $accent;
			}

			&:hover {
				background-color: rgba(0,0,0,0.1);
				cursor: pointer;

				.close {
					visibility: visible;
				}
			}

			.close {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				visibility: hidden;


				.cross {
					height: 25px;
					width: 25px;
					display: flex;
					justify-content: center;
					align-items: center;

					&:hover {
						background-color: rgba(0,0,0,0.1);
						cursor: pointer;
					}
				}
			}
		}

		.tab-content {
			display: flex;
			flex: 1;

			> div {
				display: contents;

				&.hidden {
					display: none;
				}
			}
		}

	}


}